body {
  height: 100%;
  background: linear-gradient(to right, #3c3f3f 42.86%, #a4b8b8 42.86%);
  color: white;
}

h1 {
  font-family: 'Balsamiq Sans', cursive;
  font-family: 'Moo Lah Lah', cursive;
  font-family: 'Permanent Marker', cursive;
  font-size: 80px;
  margin-left: 30px !important;
}

#form {
  width: 30%;
  margin-left: 40px !important;
  margin-top: 80px !important;
  border-style: groove;
  border-radius: 10px;
  padding: 20px;
}

